@model PasswordCollectionDto

<div class="col-lg-6 mx-auto" style="font-size:15px">


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                @if (Model.Id > 0)
                {
                    @Html.Raw("Şifre Düzenle")

                }
                else
                {
                    @Html.Raw("Şifre Ekle")
                }

            </h6>
        </div>
        <div class="card-body">
            <form method="post" asp-controller="Admin" asp-action="PasswordCollectionSave" autocomplete="off">
                <input type="hidden" asp-for="Id" value="@Model.Id" />
                <div class="form-group">
                    <label for="exampleInputUrl">Url</label>
                    <input type="text" class="form-control" id="exampleInputUrl" asp-for="Url" required value="@Model.Url" placeholder="Web Sitesini Giriniz">
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername">Kategori </label>
                    <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.Categories"></select>
                </div>


                <div class="form-group">
                    <label for="exampleInputUsername">Kullanıcı Adı</label>
                    <input type="text" class="form-control" id="exampleInputUsername" asp-for="Username" required value="@Model.Username" placeholder="Kullanıcı Adını Giriniz">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword">Şifre</label>
                    <div class="row">
                        <div class="col-lg-10">  <input type="text" class="form-control" id="exampleInputPassword" asp-for="Password" required value="@Model.Password" placeholder="Şifreyi Giriniz"></div>
                        <div class="col-lg-2">
                            <a href="#" onclick="GeneratePassword()" class="btn btn-info btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-key"></i>
                                </span>
                                <span class="text">Şifre Oluştur</span>
                            </a>
                        </div>
                    </div>

                </div>

                <button type="submit" class="btn btn-primary">Kaydet</button>
            </form>
        </div>
    </div>

</div>


@section Scripts{

    <script>
        function GeneratePassword() {
            const passwordLength = 18;
            const useSymbols = true;
            const useNumbers = true;
            const useLowerCase = true;
            const useUpperCase = true;

            let charset = '';
            let newPassword = '';

            if (useSymbols) charset += "!@@#$%^&*()";
            if (useNumbers) charset += "0123456789";
            if (useLowerCase) charset += "abcdefghijklmnopqrstuvwxyz";
            if (useUpperCase) charset += "ABCDEFGHIJKLMNOPQRSTUVWXYZ";

            for (let i = 0; i < passwordLength; i++) {
                newPassword += charset.charAt(
                    Math.floor(Math.random() * charset.length));
            }
            $("#exampleInputPassword").val(newPassword);
        }
    </script>

}